backend-python/venv/
backend-python/__pycache__/
*.pyc
frontend-react/node_modules/
frontend-react/dist/
.idea/
.vscode/
*.iml
target/
*.class
*.jar
*.war
*.ear
*.nar
.mvn/timing.properties
node_modules/
dist/
.angular/
.cache/
*.tsbuildinfo